.index{
    width: 1450px;
    height: 1250px;
    margin: 0;
    padding: 0;
    border: none;
    
}
h1{
    text-align: center;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#conteudo {
    margin-top: 40px; /* Adiciona uma margem no topo igual à altura do topo */
    height: calc(100vh - 40px); /* Calcula a altura do conteúdo restante */
    width: 100%; /* Garante que o conteúdo ocupe toda a largura da tela */
    overflow: auto; /* Adiciona uma barra de rolagem vertical, se necessário */
}
#espaco{
    background-color: blueviolet;
    width: 100%;
    height: 30px;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#form {
    background-color: #59036e;
    margin: 0 auto;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: inline-block;
    background-color: #59036e;
}

.option-label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.option {
    display: inline-block;
    margin-right: 10px;
}

.checkbox-group {
    margin-bottom: 15px;
}

.enviar {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #a04ab6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.enviar:hover {
    background-color: #45a049;
}
